# Port that the Node Express server listens on (default is 3004)
PORT=3004

# Dashboard Access Password to protect authorization gate (Avoid using same as target passwords)
DASHBOARD_PASSWORD=YourSecretAccessPasswordHere
